<nav class="flex w-full h-16  border-b-2 items-center">
  <a class="ml-20 font-bold text-2xl text-slate-800 cursor-pointer">Medical</a>
  <ul class="flex ml-80">
    <li class="cursor-pointer hover:text-red-500 text-lg text-slate-500 ml-12"><a href="#section1">Home</a></li>
    <li class="cursor-pointer hover:text-red-500 text-lg text-slate-500 ml-12"><a href="#main-services">Main Services</a></li>
    <li class="cursor-pointer hover:text-red-500 text-lg text-slate-500 ml-12"><a href="#special-services">Special Services</a></li>
    <li class="cursor-pointer hover:text-red-500 text-lg text-slate-500 ml-12"><a href="#doctors">Doctors</a></li>
  </ul>
  <button class="text-white bg-gradient-to-b from-sky-300 to-sky-800 py-1.5 px-3 rounded-3xl cursor-pointer text-md ml-72 drop-shadow-md" ><a routerLink="/login">Register</a></button>
</nav>
