<nav class="flex w-full h-16  border-b-2 items-center">
  <a class="ml-20 font-bold text-2xl text-slate-800 cursor-pointer">Medical</a>
  <ul class="flex ml-80">
    <li class="cursor-pointer hover:text-red-500 text-lg text-slate-500 ml-12">Home</li>
    <li class="cursor-pointer hover:text-red-500 text-lg text-slate-500 ml-12">Services</li>
    <li class="cursor-pointer hover:text-red-500 text-lg text-slate-500 ml-12">Products</li>
    <li class="cursor-pointer hover:text-red-500 text-lg text-slate-500 ml-12">About Us</li>
  </ul>
  <button class="text-white bg-gradient-to-b from-sky-300 to-sky-800 py-1.5 px-3 rounded-3xl cursor-pointer text-md ml-96 drop-shadow-md" (clcik)="onButtonClick()">Register</button>
</nav>
