<div class="w-full flex mt-28 justify-center" id="special-services">
  <div class="relative">
    <img src="assets/doctor2.png" class="img z-10 absolute  left-3 dr-img" />
    <div
      class="box bg-gradient-to-b from-sky-300 to-sky-800 w-72 h-96 border-8 border-white drop-shadow-lg shadow-lg shadow-blue-300 flex justify-center mt-8"
    ></div>
  </div>
  <div class="ml-20 w-3/5 flex justify-center">
    <div>
      <p class="font-bold text-5xl">
        Our
        <span
          class="text-transparent bg-clip-text bg-gradient-to-b from-sky-300 to-sky-800"
          >Special Services</span
        >
      </p>
      <p class="mt-4 text-gray-600">
        In time like today your health is very important especially after
        Covid-19<br />
        with our special services you can take care of your health and discover
        any<br />healh problem before it occurs.
      </p>
      <div class="w-full h-80 mt-5 flex justify-center">
        <div class="w-60 bg-slate-300 h-64 rounded-md flex flex-col items-center justify-center cursor-pointer drop-shadow-md shadow-lg shadow-blue-400 hover:text-white hover:bg-cyan-600">
          <img src="assets/covid.png" class="w-2/4 h-28 "/>
          <p class="mt-4 text-lg font-bold">Covid19 Test</p>
        </div>
        <div class="w-60 bg-slate-300 h-64 rounded-md flex ml-7 flex-col items-center justify-center cursor-pointer drop-shadow-md shadow-lg shadow-blue-400 hover:text-white hover:bg-cyan-600">
          <img src="assets/lab.png" class="w-2/4 h-28 "/>
          <p class="mt-4 text-lg font-bold">Lab Test</p>
        </div>
      </div>
    </div>
  </div>
</div>
