<div class="form-wrapper w-96">
  <button class="close-btn rounded-md border-black p-3" (click)="onClose()">x</button>
  <h2 class="text-center text-2xl font-bold mb-12">Enter your Details</h2>
  <form>
    <label class="font-bold flex flex-col justify-between pb-3">
      Name:
      <input
        type="text"
        name="name"
        class="border border-black p-1 text-sm font-light text-gray-700"
        placeholder="Name..."
      />
    </label>
    <label class="font-bold flex flex-col justify-between">
      Email:
      <input type="email" name="email"   class="border border-black p-1 text-sm font-light text-gray-700"
      placeholder="Email..." />
    </label>
    <label class="font-bold flex flex-col justify-between pb-3">
      Health problem:
      <textarea name="health-problems" class="border border-black p-1 text-sm font-light text-gray-700" placeholder="Write your health problem here..."></textarea>
    </label>
    <button
      type="submit"
      class="bg-gradient-to-b from-sky-300 to-sky-800 mt-5 drop-shadow-xl shadow-gray-400 hover:from-slate-50 hover:to-slate-200 hover:text-cyan-800 shadow-md text-white px-4 py-2.5 rounded-2xl font-medium"
    >
      Submit
    </button>
  </form>
</div>
