<div class="form-wrapper w-96 rounded-2xl">
  <button class="close-btn rounded-md border-black p-3" (click)="onClose()">x</button>
  <img src="assets/health-problem.png" alt="health-care" class="w-20 block m-auto mb-4" />
  <h2 class="text-center text-2xl font-bold mb-12 text-gray-700">Enter your Details</h2>
  <form>
    <label class="font-bold flex flex-col justify-between pb-3 text-gray-700">
      Name:
      <input
        type="text"
        name="name"
        class=" p-1 border-gray-700 border-b text-sm font-light text-gray-700 outline-none"
      />
    </label>
    <label class="font-bold flex flex-col justify-between text-gray-700">
      Email:
      <input type="email" name="email"   class=" p-1 border-gray-700 border-b text-sm font-light text-gray-700 outline-none"
      />
    </label>
    <label class="font-bold flex flex-col justify-between pb-3 text-gray-700">
      Health problem:
      <textarea name="health-problems" class=" p-1 border-gray-700 border-b text-sm font-light text-gray-700 outline-none"></textarea>
    </label>
    <button
      type="submit"
      class="bg-gradient-to-b w-3/6 block m-auto from-green-300 to-green-800 mt-5 drop-shadow-xl shadow-gray-400 hover:from-slate-50 hover:to-slate-200 hover:text-cyan-800 shadow-md text-white px-4 py-2.5 rounded-2xl font-medium"
      (click)="message()"
      >
      Submit
    </button>
    <div *ngIf="showMessage">A specialized Doctor will contact you soon.</div>
  </form>
</div>
